ul {
    list-style-type: none;
}
.sliding-puzzle-figure {
    background: black;
    border-radius: 5px;
    max-width: 230px;
    max-height: 230px;
}
.sliding-puzzle{
    height: 250px;
    width: 250px;
    padding: 10px;
 }
.tile {
    background: white;
    text-align: center;
    height: 50px;
    padding-top: 10px;
    font-size: 30px;
    float: left;
    border: 5px solid;
    border-color: #d6d6d6 #5d6066 #5d6066 #d6d6d6;
    width: 60px;
}
#invis {
    visibility: hidden;
}
